body{
    background-color: rgb(0, 0, 0);
}
.pagehead{
    font-family:fantasy;
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    color: #b24b4b;
}
.subhead{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: x-large;
    background-color:#994700;
    color:black;
}
.options{
    display: flex;
    justify-content: space-evenly;
    margin:80px 250px 80px;
}
.textselect{
    text-align: center;
    color: azure;
}
.buttonimage{
    background-color: black;
}
.ChoiceDisplay{
    display: flex;
    justify-content: space-evenly;
    
}
.PlayerStatement{
    color: azure;
    font-size: large;
    text-align: center;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(0, 68, 0);
}
.ComputerStatement{
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(219, 4, 4);
}